/Solucion_Codigo/Problema-2_AlquilerPelicula/nbproject/private/
/Solucion_Codigo/Problema-2_AlquilerPelicula/build/
/Solucion_Codigo/Problema-1_CapituloLibro/nbproject/private/
/Solucion_Codigo/Problema-3_EnvioMensaje/nbproject/private/
/Solucion_Codigo/Problema-3_EnvioMensaje/build/
/Solucion_Codigo/Problema-4_NominaTrabajadores/nbproject/private/
/Solucion_Codigo/Problema-4_NominaTrabajadores/build/
/Solucion_Codigo/Problema-5_Teatro/nbproject/private/
/Solucion_Codigo/Problema-5_Teatro/build/
/Solucion_Codigo/Problema-6_Banco/nbproject/private/
/Solucion_Codigo/Problema-6_Banco/build/
